html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background: RGB(245, 245, 241);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: RGB(102, 102, 102);
  font-size: 12px; }

.outside-header {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px; }

.header {
  margin: 0 auto 10px;
  height: 75px;
  width: 1000px;
  background-color: #fff; }

.header .left {
  float: left; }

.header .logo {
  display: inline-block;
  margin: 25px auto;
  vertical-align: middle; }

a {
  color: RGB(1, 146, 181);
  text-decoration: none; }

a {
  background-color: transparent; }

.logo a img {
  width: 75px; }

.right img {
  width: 26px;
  background-color: #FFFFFF; }

img {
  border: 0; }

.header .search {
  margin-left: 25px;
  display: inline-block; }

.header .search input[type="textbox"] {
  height: 34px;
  width: 260px;
  margin-top: 25px;
  border: 1px solid RGB(102, 183, 209);
  border-radius: 3px;
  margin-right: 0;
  padding-top: 0;
  padding-left: 10px;
  font-size: 16px; }

input {
  line-height: normal; }

.header .search button {
  margin-left: -5px;
  margin-top: -1px;
  height: 34px;
  width: 82px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: RGB(102, 183, 209);
  border: 1px solid RGB(102, 183, 209);
  color: #fff;
  font-size: 16px; }

.header .browse {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  margin-left: 16px;
  display: inline-block;
  background-color: #fff;
  width: 79px;
  height: 34px;
  font-size: 14px;
  line-height: 12px;
  position: relative; }

.header .browse .h-menu {
  position: absolute;
  left: 0;
  margin-left: 0;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 3px;
  list-style: none;
  padding: 0;
  width: 150px; }

.header .browse .h-menu a {
  text-decoration: none; }

.header .browse .h-menu a li {
  color: RGB(102, 102, 102);
  padding: 10px; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

.header .browse:after {
  position: absolute;
  top: 13px;
  left: 62px;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: RGB(203, 204, 201) transparent transparent transparent; }

.header .right {
  float: right;
  margin-top: 10px;
  margin-right: 55px; }

.header .right ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px; }

.header .sign-in {
  border: 1px solid RGB(1, 146, 181);
  border-radius: 3px;
  padding: 10px; }

.header .right .cart {
  font-size: 24px;
  color: RGB(102, 102, 102);
  border-left: 1px solid lightgray;
  padding-left: 12px;
  vertical-align: middle; }

.content {
  overflow: auto;
  margin: 0 auto;
  width: 1000px; }

.side-bar {
  float: left;
  width: 222px;
  margin: 0 25px 0 auto;
  border-radius: 3px; }

.side-bar-header {
  padding-bottom: 14px;
  font-weight: 700; }

.side-bar-content {
  font-size: 13px;
  background-color: #fff;
  overflow: auto; }

.side-bar-content .item-type {
  margin: 0 20px 10px;
  border-bottom: 1px solid lightgray;
  padding-top: 10px; }

.results {
  margin: 0 auto; }

.results-header {
  padding-bottom: 12px; }

.results-header span {
  font-weight: 700; }

.results-header div {
  float: right;
  margin-right: 15px; }

.results-header div a {
  text-decoration: none;
  position: relative; }

.results-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: right;
  text-align: center;
  margin: 5px 5px 20px;
  padding: 5px 5px 10px;
  width: 73%;
  border-radius: 3px; }

.results-content::after {
  clear: both;
  content: "";
  display: table; }

#content-results {
  margin-bottom: 10px; }

#content-results li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  float: left;
  width: 215px;
  height: 229px;
  margin-top: 30px;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E1E3DF; }

#content-results li:last-child {
  margin-right: 0; }

#content-results li:nth-child(3n) {
  margin-right: 0; }

#content-results li:nth-child(3n+1) {
  clear: left; }

#content-results li .itemImage {
  object-fit: fill; }

#content-results li .title {
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#content-results li .seller {
  float: left;
  color: #B2B2B2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline; }

#content-results li .price {
  float: right;
  color: #78C042; }

#content-results li:hover .socialBtn {
  opacity: 1; }

#content-results li .socialRow {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2px; }

#content-results li .socialBtn {
  background-color: #FFFFFF;
  border: 1px solid #B2B2B2;
  margin: 5px 2px 0;
  padding: 4px;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.2s ease; }

#content-results li .socialBtn:hover {
  box-shadow: 0px 1px 2px #555555; }

#content-results li .socialBtn .socialFav {
  background-image: url(../images/heart.png);
  background-size: cover;
  height: 15px;
  width: 15px; }

#content-results li .socialBtn .socialHam {
  background-image: url(styles/images/hamburger.png);
  background-size: cover;
  height: 15px;
  width: 15px; }
